<main class="main" id="top">
  <nav class="navbar navbar-light sticky-top" data-navbar-darken-on-scroll="900">
    <div class="container pt-2">
      <!-- Logo que vuelve al inicio -->
      <a class="navbar-brand" routerLink="/">
        <img src="assets/img/gallery/logo.png" alt="Logo" />
      </a>

      <div class="d-flex ms-auto gap-2">
        <!-- Menú para visitantes -->
        <ng-container *ngIf="!isLoggedIn">
          <a class="btn btn-secondary" routerLink="/login">Iniciar Sesión</a>
          <a class="btn btn-secondary" routerLink="/registro">Registrarse</a>
        </ng-container>

        <!-- Menú para usuarios autenticados -->
        <ng-container *ngIf="isLoggedIn">
          <a class="btn btn-secondary" routerLink="/miPerfil">Mi Perfil</a>
          <button class="btn btn-outline-light" (click)="logout()">Cerrar Sesión</button>
        </ng-container>
      </div>
    </div>
  </nav>
</main>
